@import url('https://fonts.googleapis.com/css?family=Chewy');

.button{
	margin-bottom: 10px;
}

.img-fluid{
	max-width: 100%
}

body{
	font-family: 'Chewy', cursive;
}

h1{
font-family: 'Chewy', cursive;
font-size: 30px;
color: #434343;
}

h2{
font-family: 'Chewy', cursive;
font-size: 25px;
color: #FF6C15;
}

.center {
align: center;
}

h3 {
font-family: 'Chewy', cursive;
}